# 最初にすべての階層のファイルを無視します
#階層は必要なだけ追加する
### all ignore ###
/*
/.**
!*/

# .gitignoreは上から解釈されていくので
# 管理対象のファイルをホワイトリストのように追記します

### not ignore ###
!/install.sh
!/homebrew_install.sh

# shell
!/.zshrc
!/.zsh/zsh_setup.sh

# vim
!/.vimrc
!/.vim/colors/*
!/.vim/plugged/*

# nvim
!/.config/nvim/colors/**
!/.config/nvim/plugins
!/.config/nvim/toml
!/.config/nvim/dein_lazy.toml
!/.config/nvim/init.vim
!/.config/nvim/installer.sh
!/.config/nvim/dein.toml
!/.config/nvim/settings/terminal_settings.vim

# vscode
!/.vscode/extension_lists
!/.vscode/keybindings.json
!/.vscode/settings.json
!/.vscode/vscode_install.sh


# /.zfunc/**  # ディレクトリは管理したいけど中身はいらないときはこんな感じ
# !/.zsh/
# !/.zsh/dircolors
# !/.zsh/rc/
# !/.zsh/rc/**
# !/.zsh/zkbd/
# !/.zsh/zkbd/**
# !/.zsh/zfunc/
# !/.zsh/zfunc/**
# !/.zsh/completion/
# /.zsh/completion/**

!/README.md
!/LICENSE
!.gitignore
!.gitkeep

